<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anthologies Assignment, Coding Dojo, Tim Knab</title>
</head>
<body>
    <h1>Anthologies</h1>
    <p>In this assignment, we will extend our `books and authors` assignment to include many-to-many relationships. Because an "anthology" is technically a collection of author's poems, short stories or essays, we will have an `anthology` model, which can have `many` authors, and `many` books. More specifically, one anthology can have many authors and many books.</p>
    <p>Please see the server console for specific output, if not visible here.</p>
</body>
</html>
