<!DOCTYPE html>
<html lang="en">
<!-- Load Access to Django Static Files -->
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Load Django Static CSS Sheet -->
<link rel="stylesheet" href="{% static 'logreg/css/style.css' %}">
<title>Success!</title>
<body>
    <h1>Successful Login!</h1>
    {% if logged_in_user %}
        <div class="success">
            <h2>{{logged_in_user.first_name}} {{logged_in_user.last_name}}</h2>
            <p>{{logged_in_user.created_at}}</p>
        </div>
    {% endif %}
    <h3><a href="/"><< Take Me Home</a></h3>
</body>
</html>
