<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h1>Model Validations</h1>
	<p>In this assignent, we'll learn how to modify `models.Manager` in Django to create a child class, to which we can add our own methods (validation methods). This allows us to continue with our theme of skinny controllers, fat models. The more validations or logic we can place within our model (for model related objects), our controller is free to move through the logic. This keeps our code more organized, and allows us to better understand where different jobs live within our program.</p>
	<p>Please see the server console for output.</p>
</body>
</html>
