<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
<body>
    <h1>About Me!</h1>
    <p>I am a Python and JavaScript web developer. I love making new applications and learning new technologies. Most people don't know that I used to be an outdoor guide and love going into nature.</p>
    <a href="/">Back</a>
</body>
</html>
