<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css"> -->
    <title>Python Hiking Time Estimator</title>
</head>
<body>
    <h1>Hiking-Time-Estimator:</h1>
    <div class="wrapper">
        {% with messages = get_flashed_messages() %} <!-- 'with messages' helps us declare a variable in our template that we can use within a specific scope. -->
            {% if messages %}   <!-- checks if any messages have been returned from flash_messages() function -->
                {% for message in messages %} <!-- loops through all messages -->
                    <p class="error">{{message}}</p> <!-- print messages one by one each in a <p> tag  -->
                {% endfor %} <!-- end for loop -->
            {% endif %} <!-- end if conditional statement -->
        {% endwith %} <!-- end with messages variable -->
        <form action="/" method="POST">
            <label for="total_distance">
                <p>
                    Total Roundtrip Distance in Miles: <input type="text" name="total_distance" id="total_distance" placeholder="Total Distance (mi)" {% if hiking_data %} value="{{hiking_data['distance']}}" {% endif %}>
                </p>
            </label>
            <label for="total_elev_gain">
                <p>
                    Total Elevation Gain in Feet: <input type="text" name="total_elev_gain" id="total_elev_gain" placeholder="Total Elevation Gain (ft)" {% if hiking_data %} value="{{hiking_data['gain']}}" {% endif %}>
                </p>
            </label>
            <label for="hourly_break_duration">
                <p>
                    Break Duration/Hour in Minutes: <input type="text" name="hourly_break_duration" id="hourly_break_duration" {% if hiking_data %} value="{{hiking_data['rest']}}" {% else %} value="5" {% endif %}>
                </p>
            </label>
            <input type="submit" value="Calculate Travel Time!">
        </form>
        {% if hiking_data %}
            <div class="results">
                <h2>Total Travel Time:</h2>
                <h2><span class="success">{{hiking_data['time']}}</span></h2>
                <ul>
                    <li>Total Roundtrip Distance: {{hiking_data['distance']}} miles</li>
                    <li>Total Elevation Gain: {{hiking_data['gain']}} feet</li>
                    <li>Rest Duration: {{hiking_data['rest']}} minutes each hour</li>
                </ul>
                <a href="/">Reset Results</a>
            </div>
        {% endif %}
    </div>
    <div class="tags">
        <a href="#">disclaimer</a> | <a href="http://sasquat.ch">sasquat.ch</a>
    </div>
</body>
</html>
