<!DOCTYPE html>
<html lang="en">
<!-- Load Access to Django Static Files -->
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Load Django Static CSS Sheet -->
<link rel="stylesheet" href="{% static 'reviewer/css/style.css' %}">
<title>Dashboard!</title>
<body>
    <h1>Welcome, {Name}!</h1>
    <a href="#">Add Book and Review</a>
    <a href="#">Logout</a>
    <h3>Recent Book Reviews:</h3>
    <a href="#">The Greatest Salesmen in The World</a>
    <p>Rating: {Stars}</p>
    <p>
        <a href="#">Jerry</a> says: Very inspiring. Gives a lot of wisdom on relationships with people and acheiving one's goals.
    </p>
    <em>Posted on November 25, 2014</em>
    <p>...</p>
    <p>...</p>
    <p>more book reviews:</p>
    <p>- 3 latest</p>
    <p>- book title links to book page</p>
    <p>- username links to user page</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
    <h2>Other Books with Reviews:</h2>
    <div class="all_books">
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
        <p>
            <a href="#">Harry Potter: The Sorcerer's Stone</a>
        </p>
    </div>
</body>
</html>
