<!DOCTYPE html>
<html lang="en">
<!-- Load Access to Django Static Files -->
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Load Django Static CSS Sheet -->
<link rel="stylesheet" href="{% static 'reviewer/css/style.css' %}">
<title>Belt Reviewer</title>
<body>
    <h1>Welcome!</h1>
    <fieldset class="register"><legend>Register:</legend>
        <!-- Registration Form -->
        <!-- Django Messages Errors -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "reg_errors" %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form action="/register" method="POST">
            {% csrf_token %}
            <p>
                <label for="first_name"> First Name:
                    <input type="text" name="first_name" id="first_name">
                </label>
            </p>
            <p>
                <label for="last_name"> Last Name:
                    <input type="text" name="last_name" id="last_name">
                </label>
            </p>
            <p>
                <label for="email"> Email:
                    <input type="email" name="email" id="email">
                </label>
            </p>
            <p>
                <label for="password"> Password:
                    <input type="password" name="password" id="password">
                </label>
            </p>
            <p>
                <label for="confirm_pwd"> Confirm Password:
                    <input type="password" name="confirm_pwd" id="confirm_pwd">
                </label>
            </p>
            <input type="submit" value="Register!">
        </form>
    </fieldset>
    <fieldset class="login"><legend>Login:</legend>
        <!-- Login Form -->
        <!-- Django Messages Errors -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "login_errors" %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form action="/" method="POST">
            {% csrf_token %}
            <p>
                <label for="login_email"> Email:
                    <input type="email" name="login_email" id="login_email">
                </label>
            </p>
            <p>
                <label for="login_password"> Password:
                    <input type="password" name="login_password" id="login_password">
                </label>
            </p>
            <input type="submit" value="Login!">
        </form>
    </fieldset>
</body>
</html>
