<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Books</title>
</head>
<body>
    <h1>Django Books</h1>
    <p>Please see server console. This application experiments more with building and modifying models in Django.</p>
    {% for book in books %}
        <p>{{book.title}} | {{book.author}} | {{book.publish_date}} | {{book.category}}</p>
    {% endfor %}
</body>
</html>
