<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
</head>
<body>
    <h1>Products Assignment</h1>
    <p>In this assignment we experiement more with creating and retreiving data using Django Models and the built-in ORM. Please see your server-side console for full output, as this assignment does not render much in the views for simplicity's sake.</p>
</body>
</html>
