<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load Access to Django Static Files -->
	{% load static %}
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Load Django Static CSS Sheet -->
    <link rel="stylesheet" href="{% static 'validation/css/style.css' %}">
    <title>Username Validation</title>
</head>
<body>
    <h1>Username Validation</h1>
    <p>In this assignment we'll work on building a `User` model, and a `Manager` to validate this user. This is the very beginning to a login and registration.</p>
    <p>See `readme.md` and `wireframe.png`'s in project folder for more info.'</p>
    <hr>
    <fieldset><legend>Login below:</legend>
        <!-- Display any error objects are returned: -->
        {% if errors %}
            <!-- Loop through each error -->
            {% for error in errors %}
                <!-- Print error -->
                <p class="error">{{error}}</p>
            {% endfor %}
        {% endif %}
        <form action="/" method="POST">
            <!-- Required for Django method authentication -->
            {% csrf_token %}
            <!-- Form -->
            <label for="username">
                <!-- Username -->
                <input type="text" name="username" id="username">
                <!-- Submit Button -->
                <input type="submit" value="Submit">
            </label>
        </form>
    </fieldset>
</body>
</html>
