<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h1>Stores and Products</h1>
	<p>In this assignment, we'll continue our use of `many-to-many` relationships. We will build two models: (1) `Stores` and (2) `Products`. We will then setup a many-to-many relationship, so that many stores may contain many products, and many products may exist in many stores. If confused, please see `anthologies` assignment, or the <a href="https://docs.djangoproject.com/en/1.11/topics/db/examples/many_to_many/">Django Many-to-Many section</a>.</p>
	<p>Please see the server console for full output if not listed here.</p>
</body>
</html>
