<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load Access to Django Static Files -->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Load Django Static CSS Sheet -->
    <link rel="stylesheet" href="{% static 'secrets/css/style.css' %}">
    <title>Dojo Secrets</title>
</head>
<body>
    <h1 id="home">Hello, {{logged_in_user.first_name}}!</h1>
    <a href="/logout">Logout</a>
    <!-- Secret Errors -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "secret_errors" %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Secret Form -->
    <form action="/new_secret" method="POST">
        <!-- Django-required CSRF Token (to prevent spoofing) -->
        {% csrf_token %}
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Enter your secret here..."></textarea>
        <!-- Hidden field to capture ID of user creating secret -->
        <input type="hidden" name="user_id" value="{{logged_in_user.id}}">
        <input type="submit" value="Post!">
    </form>
    <hr>
    <h2>Recent Secrets...</h2>
    {% if recent_secrets %}
        {% for secret in recent_secrets %}
            <p>{{secret.description}} ({{secret.created_at|timesince}} ago) <em>{{secret.like_count}} likes</em> {% if logged_in_user in secret.liked_users %} <strong>You liked this.</strong> {% endif %} {% if secret.user.id != logged_in_user.id and logged_in_user not in secret.liked_users %} <a href="/like/{{secret.id}}">Like</a> {% endif %} {% if secret.user.id == logged_in_user.id %} <strong>You posted this.</strong> <a href="/delete/{{secret.id}}">Delete</a> {% endif %}</p>
        {% endfor %}
    {% endif %}
    <hr>
    <h2>Most Popular Secrets...</h2>
    <a href="#home">Back</a>
    {% if popular_secrets %}
        {% for secret in popular_secrets %}
            <p>{{secret.description}} ({{secret.created_at|timesince}} ago) <em>{{secret.like_count}} likes</em> {% if logged_in_user in secret.liked_users %} <strong>You liked this.</strong> {% endif %} {% if secret.user.id != logged_in_user.id and logged_in_user not in secret.liked_users %} <a href="/like/{{secret.id}}">Like</a> {% endif %} {% if secret.user.id == logged_in_user.id %} <strong>You posted this.</strong> <a href="/delete/{{secret.id}}">Delete</a> {% endif %}</p>
        {% endfor %}
    {% endif %}
</body>
</html>
