<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load Access to Django Static Files -->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Secrets</title>
</head>
<body>
    <h1 id="home">Hello, {{logged_in_user.first_name}}!</h1>
    <!-- Secret Errors -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "secret_errors" %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Secret Form -->
    <form action="/new_secret" method="POST">
        <!-- Django-required CSRF Token (to prevent spoofing) -->
        {% csrf_token %}
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Enter your secret here..."></textarea>
        <!-- Hidden field to capture ID of user creating secret -->
        <input type="hidden" name="user_id" value="{{logged_in_user.id}}">
        <input type="submit" value="Post!">
    </form>
    <hr>
    {{secret.description}}
    {{secret.created_at}}
    {{secret.user.first_name}} {{secret.user.last_name}}
    <hr>
    <a href="/">Most Popular Secrets</a>
    <hr>
    <h2>Recent Secrets...</h2>
    <p>I found a $20 bill outside. (1 minute ago) <strong>You posted this</strong> <a href="/delete/POST-ID">Delete</a></p>
    <p>I ate the last donut. (5 minutes ago) <em>3 likes</em> <a href="/like/POST-ID">Like</a></p>
    <hr>
    <h2>Most Popular Secrets...</h2>
    <a href="#home">Back</a>
    <p>I ate the last donut. (5 minutes ago) <em>3 likes</em> <a href="/like/POST-ID">Like</a></p>
    <p>I found a $20 bill outside. (15 minutes ago) <strong>You posted this</strong> <a href="/delete/POST-ID">Delete</a></p>
</body>
</html>
